/* #region ||||| UTILITIES RULES ||||| */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tpc-primary_darkest: rgb(13, 17, 23);
  --tpc-primary_dark: rgb(22, 27, 34);
  --tpc-primary_light: rgb(230, 230, 230);
  --tpc-secondary: rgb(196, 18, 40);
  --tpc-font_dark: rgb(48, 48, 48);
  --tpc-font_light: rgb(255, 255, 255);
}

/* #endregion ||||| UTILITIES RULES ||||| */

/* #region ||||| COMMON RULES ||||| */

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--tpc-primary_dark);
  height: 100vh;
}

/* #endregion ||||| COMMON RULES ||||| */

/* #region ||||| HEADER ||||| */

#header {
  background-color: var(--tpc-primary_darkest);
  color: var(--tpc-font_light);
  height: 80px;
}

/* #endregion ||||| HEADER ||||| */

/* #region ||||| APP ||||| */

.mc_app {
  width: 90%;
  max-width: 1600px;
  height: 90h;
  background-color: var(--tpc-primary_light);

  .mc_user_inputs {

    .mc_btn_bg {
      background-color: var(--tpc-secondary);
      color: var(--tpc-font_light);
    }
  }
}

/* #endregion ||||| APP ||||| */